
:root {
  /* theme 1 */
  /* Appbar color */
  --primary-theme-color: #459A7D;
  --primary-theme-appbar-text-color: #fff;
  --secondary-theme-color:#97D2C5;
  --primary-theme-background-color: #f2f6f9;
  --primary-theme-delete-button-color: #f04134;
  --primary-font-size: 15px;
  --primary-border-radius: 25px;
}